@charset "UTF-8";
:root {
    --color1:#053d63;
    --color2:#00AC7A;
    --color3: white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: var(--color3);
}
#logowt {
    width: 20px;
}
hr {
    margin: 10px;
}
body {
    display: flex;
    margin: 3px;
    flex-wrap: wrap;
    flex: 1 1 100vw;
    background-image: url(resources/background_images.png);
    background-size: cover;
    background-attachment: fixed;
    min-height: 2000px;
}
header {
    position: fixed;
    top: 15px;
    display: flex;
    margin: 3px;
    background-color: var(--color1);
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    height: 50px;
    z-index: +1;
}
nav {
    width: 100%;
    display: flex;
    margin: 3px;
    justify-content: right;
}
#logo {
    position: absolute;
    top: 3px;
    right: 3px;
    border-radius: 5px;
    width: 200px;
}
.nav_item:hover {
    background-color: #0c6aa8;
}
.nav_item {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--color3);
    width: 100px;
    border-radius: 10px;
}
main {
    padding: 10px;
    color: var(--color3);
    text-shadow: 1px 1px 1px black;
    letter-spacing: 1px;
}

#inicio {
    margin: 150px 3px 100px 3px;
}
#inicio p {
    width: 300px;
    margin: 10px;
    font-size: 20px;
    text-align: justify;
}
#sobre {
    margin: 150px 3px 3px 3px;
}
.box1 {
    background-color: rgba(255, 255, 255, 0.205);
    border: 1px solid black;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.247);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
.box11 {
    background-color: var(--color1);
    border-radius: 5px;
    width: 300px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    color: var(--color3);
    text-shadow: none;
    text-align: justify;
}
.box12 {
    background-color: var(--color1);
    border-radius: 5px;
    width: 600px;
    border: 1px solid black;
    padding: 5px;
    color: var(--color3);
    text-shadow: none;
    display: flex;
    justify-content: space-between;
}
.box13 {
    background-color: var(--color1);
    border-radius: 5px;
    width: 350px;
    border: 1px solid black;
    padding: 5px;
    color: var(--color3);
    text-shadow: none;
    text-align: center;
    margin: 5px;
}
.box14 {
    background-color: var(--color1);
    border-radius: 5px;
    width: 350px;
    border: 1px solid black;
    padding: 5px;
    color: var(--color3);
    text-shadow: none;
    text-align: center;
    margin: 5px;
}
.container {
    width: 268px;
    margin: auto;
    position: relative;
}
.container img {
    width: 100%;
    border-radius: 5px;
}
.text_imagem {
    width: 100%;
    position: absolute;
    text-align: justify;
    background-color: #053d6383;
    border-radius: 5px;
    padding: 10px;
    letter-spacing: 2px;
    top: 0;
    left: 0;
    display: none; 
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.336); 
}
.container:hover .text_imagem {
    display: flex;
}
.container:hover img {
    filter: blur(5px);
}
#projetos {
    margin: 150px 3px 3px 3px;
}
#contato {
    margin: 150px 3px 3px 3px;
}
aside {
    display: flex;
    margin: 3px;
    flex: 1 1 100vw;
}
footer {
    display: flex;
    margin: 3px;
    flex: 1 1 100vw;
}
@media (width <= 630px) {
    #logo {
        top: 80px;
        left: 6px;
    }
    .box12 {
        width: 100%;
        justify-content: space-around;
    }
    .box12 img {
        display: none;
    }
    .box13 {
        width: 150px;
    }
    .container {
        width: 134px;
    }
    .text_imagem {
        z-index: 1;
        font-size: 6px;
    }
}
@media (width <= 416px) {
    header nav .nav_item {
        width: 70px;
    }
    header {
        height: 40px;
        top: 5px;
    }
}